body {
  background: #fcfdff;
}

button {
  cursor: pointer;
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
}

input {
  appearance: none;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #eff0ff;
  padding: 32px;
}

/*Logo*/
.logo {
  display: flex;
  justify-content: space-between;
  max-width: 146px;
  width: 100%;
  align-items: center;
  margin-bottom: 149px;
}

.logo__image {
  width: 32px;
  height: 32px;
  background-image: url('./assets/logo.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.logo__text {
  color: #000;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.16px;
}

/*Blocks*/

.sign-in {
  display: flex;
  justify-content: space-between;
  max-width: 1360px;
  gap: 159px;
  width: 100%;
  padding: 40px;
  background: #fcfdff;
  border-radius: 44px;
}

.sign-in__block1 {
  display: flex;
  flex-direction: column;
  max-width: 460px;
  width: 100%;
}

.sign-in__block2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  background: #cbcce8;
  border-radius: 40px;
}

.sign-in__img {
  height: auto;
  width: 100%;
}

/*Form*/

.password-row {
  margin-top: 20px;
}
.form {
  width: 360px;
  height: 517px;
}

.form__container {
  align-self: self-end;
  display: flex;
  flex-direction: column;
  gap: 56px;
}

.form-row {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

label {
  color: #344054;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
}

input[type='email'] {
  display: flex;
  padding: 10px 14px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid #d0d5dd;
}

input[type='password'] {
  display: flex;
  padding: 10px 14px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid #d0d5dd;
}

.additional__row {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

input[type='checkbox'] {
  width: 16px;
  height: 16px;
  border-radius: 4px;
  border: 1px solid#D0D5DD;
  margin: 0;
}

.checkbox__container {
  display: flex;
  align-items: center;
  align-self: center;
  gap: 8px;
}

.checkbox__text {
  color: #344054;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
}

.forgot__password {
  color: #5429ff;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
}

.buttons__row {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 32px;
}

.button {
  justify-content: center;
  align-items: center;
  gap: 10px;
  appearance: none;
  padding-bottom: 12px;
  padding-top: 12px;
}

.button_sign-in {
  border-radius: 8px;
  background: #5429ff;
  color: #fff;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 125% */
}

.button_google {
  position: relative;
  border-radius: 8px;
  border: 1px solid #d0d5dd;
  color: #344054;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 125% */
}

.button_google::before {
  content: '';
  display: block;
  position: absolute;
  left: 70px;
  top: 10px;
  background-image: url('./assets/Google.png');
  width: 24px;
  height: 24px;
  background-position: center;
  background-size: cover;
}

.actions-row {
  display: flex;
  flex-direction: column;
}

.sign-up__row {
  margin-top: 20px;
  color: #344054;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
}

.sign-up__row_purple {
  color: #5429ff;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

/*Welcome container*/
.welcome__container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.sign-in__description {
  color: #667085;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.sign-in__title {
  color: #344054;
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.4px;
  text-transform: capitalize;
}

.credits {
  color: #667085;
  font-family: Inter;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  line-height: 20px; /* 125% */
}

.error {
  border: 1px solid red !important;
}

@media (max-width: 760px) {
  .sign-in {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px;
  }

  .logo {
    align-self: center;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 56px;
  }

  .sign-in__block1 {
    width: auto;
  }

  .form__container {
    width: auto;
  }

  .sign-in__block2 {
    display: none;
  }

  .credits {
    display: none;
  }
}

